.App {
  text-align: center;
}

/* designing the table */
table{
  width:100%;
  border-collapse:collapse; 
  margin-bottom: 20px; 
}


td {
  border: 1px solid #ddd; 
  padding: 8px; 
  text-align: center; 
}


th {
  background-color: #f2f2f2;
  border: 1px solid #ddd; 
  padding: 8px; 
  text-align: center;
}
  

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* div classname of header */
.header {
  background-color: #370080;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* div classname of Form */
.form{
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid grey;
  margin:5px;
  margin-bottom: 20px;
  padding:10px
  
}
/* div classname of Form-input */
.form-input{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/* div classname of button */
.button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* div classname of search */
.search{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width:200%;
  
}

/* div classname of search */
.searchbar{
  width:580%;
  height:20px;
  margin: 20px;
}

